@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

:root {
  --primary-color: #5483e7;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --lose-color: #df4a59;
  --win-color: #54ca6f;
  --modal-duration: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "VT323", monospace;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

.container {
  max-width: 1100;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}
.restart-btn {
  display: none;
  background-color: var(--light-color);
  color: #333333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.restart-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* .header {
  text-align: center;
  margin: 1rem 0;
} */

.header h1 {
  margin-bottom: 1rem;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.3rem;
  color: #fff;
}

.score p:first-child {
  background: var(--primary-color);
}
.score p:last-child {
  background: var(--dark-color);
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: var(--primary-color);
}

.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: name;
  animation-duration: 2s;
}

.modal-content h1 {
  margin-bottom: 1rem;
}
.modal-content p {
  margin-bottom: 1rem;
}

@keyframes name {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .choices {
    font-size: 10px;
  }
}
